.reserch-bar {
    display: flex;
    margin: 0 auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;  
    
    .form-select {
        flex: 1;
        border-radius: 0;
        padding: 15px 5px 15px 5px;
        font-style: italic;
        font-size: 16px;
    }

    .btn-warning {
        flex: 1;
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
}


