/*-------------COLORES WEB----------*/
footer {
  text-align: center;
}

.logoFooter {
  padding: 80px;
}

footer p {
  font-size: 40px;
}

footer ul {
  padding-top: 30px;
}

.divFooter1 {
  padding-bottom: 80px;
}

.divFooter2 {
  background-color: #978510;
  padding-bottom: 20px;
}

.divFooter2 a {
  font-weight: 200;
}

.divFooter2 {
  display: flex;
  justify-content: space-around;
}

.divFooter1 li a:hover {
  background-color: #978510;
  padding: 10px;
}

.header {
  background-color: #181d24;
  color: white;
  padding: 20px;
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 20px 140px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  padding-right: 20px;
}

nav, ul {
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

.item1 {
  display: flex;
  justify-content: right;
}

.item1 div {
  padding-right: 20px;
}

.active {
  background-color: #978510;
  padding: 10px;
}

.menu-nav {
  margin-top: 20px;
}

.contenidoHeader1 li {
  margin-right: 10px;
}

.btn-idioma {
  background-color: #181d24;
  border: none;
}

.texto-superpuesto {
  position: absolute;
  top: 65%;
  font-weight: 300;
  display: flex;
}

.span1 {
  font-size: 180px;
  color: white;
  line-height: 1;
  margin-left: 100px;
}

.span2 {
  color: #978510;
  font-size: 70px;
  padding-top: 265px;
  font-family: "Caveat";
}

.span1, .span2 {
  flex: 1;
}

.circle-bottom {
  margin-left: 300px;
  margin-top: 20px;
}

.img-bienvenida img {
  opacity: 0.7;
}

.reserch-bar {
  display: flex;
  margin: 0 auto;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}
.reserch-bar .form-select {
  flex: 1;
  border-radius: 0;
  padding: 15px 5px 15px 5px;
  font-style: italic;
  font-size: 16px;
}
.reserch-bar .btn-warning {
  flex: 1;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.tipos {
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 100px;
  position: absolute;
  top: 30%;
}
.tipos .pisos {
  margin: 30px;
}
.tipos .pisos .row {
  height: 130px;
  width: 400px;
}

.col {
  font-weight: 600;
  padding-top: 20px;
  padding-left: 40px;
  background-color: #181d24;
}

.col-1 {
  background-color: #181d24;
}

.amarillo {
  background-color: #ffcb00;
}

.gris {
  background-color: #666666;
}

.amarilloT {
  color: #ffcb00;
  font-size: 26px;
}

.number {
  font-size: 70px;
  font-weight: 400;
  padding-right: 20px;
}

.img-elige {
  position: relative;
}

.titulo-superpuesto {
  position: absolute;
  top: 7%;
  left: 38%;
  text-align: center;
  color: #978510;
  font-family: "Caveat";
  font-size: 5rem;
}

.img-superpuesta {
  position: absolute;
  left: 47%;
  top: 20%;
}

.ref {
  background-color: #3c4146;
  width: 30%;
  padding: 20px;
  position: absolute;
  top: 304%;
  left: 50%;
}
.ref .spanRef {
  background-color: #978510;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 10px;
  color: white;
  font-weight: 600;
}
.ref img {
  margin-left: 370px;
}

.h3Propiedad {
  margin-top: 200px;
  text-align: center;
  color: white;
  font-size: 70px;
  line-height: 0.7;
  margin-bottom: 100px;
}

.spanh3 {
  font-family: "Caveat";
  color: #978510;
}

.img-ref {
  margin-left: 120px;
  position: relative;
}

.ref h4, .ref p {
  color: white;
}

h4 {
  font-weight: bold;
}

.ref p:last-child {
  color: #ffcb00;
  font-size: 30px;
}

.vende {
  margin: 120px;
  display: flex;
}

.vendeItem1 {
  flex: 2;
}
.vendeItem1 img {
  margin-bottom: 50px;
}
.vendeItem1 .h3Vende {
  color: white;
  font-size: 65px;
  line-height: 0.7;
}
.vendeItem1 .h3Vende span {
  font-family: "Caveat";
  color: #978510;
}

.buttonVende {
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 80px;
  border: none;
  border-radius: 0;
  background-color: #978510;
}

.imgFondo {
  opacity: 0.02;
  position: absolute;
  top: 320%;
}

.destacados {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-right: 120px;
}

.div1 {
  margin-right: 20px;
}

.h3Destacados {
  margin-top: 320px;
  text-align: center;
  color: white;
  font-size: 70px;
  line-height: 0.7;
  margin-bottom: 100px;
}

.h3Destacados span {
  font-family: "Caveat";
  color: #978510;
}

.destacado1 {
  position: relative;
}

.columna1, .columna2 {
  display: inline-block;
  margin: 30px;
}

.columna1 {
  border-right: 1px solid white;
  padding-right: 40px;
}

.columna1 p:last-child {
  color: #978510;
  font-size: 20px;
  font-weight: 600;
}

.destacado1:hover {
  background-color: #ffcb00;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
}

.btnProp {
  display: flex;
  justify-content: center;
}

.verPropiedades {
  margin-top: 80px;
  background-color: #181d24;
  color: #978510;
  font-family: "Caveat";
  font-size: 30px;
  border: none;
}

.verPropiedades img {
  margin-left: 10px;
}

.verPropiedades:hover {
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
}

.descripcion {
  display: flex;
  margin-top: 100px;
}

.d2 {
  padding: 60px;
}

.p1 {
  color: #978510;
  line-height: 2;
  font-size: 18px;
  margin-top: 20px;
}

.p2 {
  color: white;
  line-height: 1.8;
}

.d2 img {
  margin-top: -60px;
}

.d2 button {
  background-color: #181d24;
  border: 2px solid #978510;
  color: #978510;
  font-weight: 600;
  padding: 20px 40px;
}

.d2 button:hover {
  background-color: #ffcb00;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
}

.formulario {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #978510;
}

.campo {
  margin-bottom: 10px;
}

.campos-en-linea, .campo {
  display: flex;
  justify-content: center;
}

.campo input, .campo textarea {
  display: block;
  box-sizing: border-box;
}

.h3Form {
  color: #181d24;
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  line-height: 0.7;
}

.h3Form span {
  font-family: "Caveat";
  color: white;
}

#telefono {
  margin-right: 20px;
}

.campo input, ::placeholder, textarea {
  color: white;
  font-style: italic;
  font-size: 14px;
  background-color: #978510;
  border: none;
}

.campo input, textarea {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  padding-top: 15px;
}

#nombre, #mensaje {
  width: 50%;
}

#telefono, #email {
  width: 360px;
}

.politica {
  color: white;
  font-size: 12px;
  width: 47%;
  padding-left: 20px;
  padding-top: 20px;
}

.campo input[type=checkbox] {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 25px;
  cursor: pointer;
}

.campo input[type=checkbox]:checked {
  background-color: #181d24;
  border: none;
}

.submit {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 150px;
  margin: 20px;
  margin-left: 38%;
}

.verticalTitulo {
  color: #181d24;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 90px;
  font-weight: 300;
  line-height: 0.7;
  margin-top: 90px;
}
.verticalTitulo span {
  font-family: "Caveat";
  color: #978510;
}
.verticalTitulo img {
  margin: 0 50px;
  transition: transform 0.3s ease-in-out;
}
.verticalTitulo img:hover {
  transform: rotateY(180deg);
}

.ultimasNoticias {
  background-color: white;
  margin-bottom: -10px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
}
.ultimasNoticias .divItem {
  flex: 1;
}

.overlay p {
  width: 70%;
  font-size: 12px;
}

.overlay {
  padding: 20px;
  position: absolute;
  top: 0;
  color: white;
  font-weight: bold;
}

.item2 {
  margin-right: -100px;
  position: relative;
}

.item3 {
  position: relative;
}

.divItem img:hover {
  opacity: 0.7;
}

.divItem img {
  transition: opacity 0.3s;
}

/*-----ESTILOS DE ELEMETOS QUE NO PERTENECE A NINGUN TIPO DE BLOQUE----*/
h1 {
  color: #ffcb00;
}

body {
  font-family: "Montserrat";
  background-color: #181d24;
}

.fixed-button {
  position: fixed;
  right: 0%;
  bottom: 40%;
  z-index: 1000;
}

.fixed-button button {
  background-color: #978510;
  padding: 4px 10px;
  color: white;
  border-radius: 0;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.form-button {
  margin-top: 15px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.form-button button {
  padding: 10px 50px;
  border-radius: 0;
  border: none;
}

.btn1 {
  background-color: #333333;
}

.btn1:hover {
  background-color: #181d24;
}

.btn2 {
  background-color: #978510;
}

.btn2:hover {
  background-color: #ffcb00;
}

.parallax {
  max-width: 100%;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp button {
  background-color: transparent;
  border: none;
}

a:hover {
  color: white;
}

/*# sourceMappingURL=main.css.map */
